{% extends 'base.html.twig' %}{#recupere base html head, body#}

{% block title %}Hello !{% endblock %}{#titre#}
{% block stylesheets %}
<style type="text/css">
    form label {
        width: 150px;
    }
</style>
{% endblock %}
{% block connexion %}
{% if connecte==true %}
<span>Bienvenue {{ nom }}.</span>
<button type="submit">Deconnexion</button>
{% else %}
<div id="connexion" class="divhead">
    {{form_start(form) }}
        {{ form_row(form.mail) }}
        {{ form_row(form.password) }}
        <button>login</button>
        <a href="http://eureka.alwaysdata.net/demarquet/PT_ReseauSocialIUT/Symfony/my_project/public/inscription">inscription</a>
    {{ form_end(form) }}
</div>
{% endif %}
{% endblock %}
